# Projeto 1 - Ciência dos Dados

Nome: Carlos Andrade Inacio

Nome: Carlos Felipe Borges Mesquita

Atenção: Serão permitidos grupos de três pessoas, mas com uma rubrica mais exigente. Grupos deste tamanho precisarão fazer um questionário de avaliação de trabalho em equipe

___
Carregando algumas bibliotecas:

In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Cafeb\OneDrive\Documentos\CDADOS\cdados-netflix

Carregando a base de dados com os tweets classificados como relevantes e não relevantes:

In [3]:
filename = 'netflix.xlsx'

In [4]:
train = pd.read_excel(filename)
train.head(5)

,Treinamento,Classificação,Soma da coluna,1- Relevante,0 - Irrelevante,Total (%)
0,@zanchettagui :(\nah no show dele do netflix e...,0,143.0,47.666667,52.333333,100.0
1,"jojo vai chegar na netflix mês q vem, será q e...",1,NaN,NaN,NaN,NaN
2,"com geladeira cheia, conta no banco positiva, ...",0,NaN,NaN,NaN,NaN
3,estou rachando o bico com o filme cabras da pe...,1,NaN,NaN,NaN,NaN
4,@twolana9 netflix \nforças complex,0,NaN,NaN,NaN,NaN

In [5]:
test = pd.read_excel(filename, sheet_name = 'Teste')
test.head(5)

,Teste,Classificação,Soma da coluna,1- Relevante,0 - Irrelevante,Total (%)
0,1. não\n2. 1\n3. peixes\n4. não\n5. apegada\n6...,0,83.0,41.5,58.5,100.0
1,@jpncunha1397 @arrascabigol1 @diegooliveiira_ ...,0,NaN,NaN,NaN,NaN
2,@netflixbrasil apanha muito também ela né netf...,0,NaN,NaN,NaN,NaN
3,eu estava sem nenhuma série pra assistir e ach...,0,NaN,NaN,NaN,NaN
4,@fraannnnnnnnn final de temporada nas séries d...,0,NaN,NaN,NaN,NaN

___
## Classificador automático de sentimento

Faça aqui uma descrição do seu produto e o que considerou como relevante ou não relevante na classificação dos tweets.

ESCREVA AQUI...

___
### Montando um Classificador Naive-Bayes

Considerando apenas as mensagens da planilha Treinamento, ensine  seu classificador.

___
### Verificando a performance do Classificador

Agora você deve testar o seu classificador com a base de Testes.

___
### Concluindo

___
### Qualidade do Classificador a partir de novas separações dos tweets entre Treinamento e Teste

Caso for fazer esse item do Projeto

___
## Aperfeiçoamento:

Os trabalhos vão evoluir em conceito dependendo da quantidade de itens avançados:

* Limpar: \n, :, ", ', (, ), etc SEM remover emojis
* Corrigir separação de espaços entre palavras e emojis ou entre emojis e emojis
* Propor outras limpezas e transformações que não afetem a qualidade da informação ou classificação
* Criar categorias intermediárias de relevância baseadas na probabilidade: ex.: muito relevante, relevante, neutro, irrelevante, muito irrelevante (3 categorias: C, mais categorias conta para B)
* Explicar por que não posso usar o próprio classificador para gerar mais amostras de treinamento
* Propor diferentes cenários para Naïve Bayes fora do contexto do projeto
* Sugerir e explicar melhorias reais com indicações concretas de como implementar (indicar como fazer e indicar material de pesquisa)

___
## Referências

[Naive Bayes and Text Classification](https://arxiv.org/pdf/1410.5329.pdf)  **Mais completo**

[A practical explanation of a Naive Bayes Classifier](https://monkeylearn.com/blog/practical-explanation-naive-bayes-classifier/) **Mais simples**